*{
    padding:0;
    margin:0;
}
.banner{
    width:100%;
    height:500px;
    position: relative;

}
.woofer{
    width:350px;
    height:350px;
    position:absolute;
    right: 100px;
    bottom: 200px;

}
.logo{
    width:190px;
    height:45px;
    position:absolute;
    left: 40px;
    top: 20px;
}
.home{
    width:700px;
    position:absolute;
    left:420px;
    top:35px;
    word-spacing: 25px;
}
.home a{
    color:rgb(244, 248, 246);
    font-family:Arial;
    text-decoration: none;
}
h1{
    left:40px;
    top:180px;
    position:absolute;
    font-size:40px;
    font-weight: bold;
    font-family: arial;
}

.donec{
    position: absolute;
    left:40px;
    top:235px;
    width:420px;
    font-size:19px;
    font-family:arial;
    line-height:23px;
}
.button1{
position:absolute;
background: rgb(64, 165, 64);
width: 150px;
height: 50px;
border:none;
border-radius: 7px;
color:white;
bottom: 210px;
left:40px;
font-size:22px;
}
.button2 {
    position:absolute;
    background:rgb(32, 37, 35);
    font-size: 22px;
    width:150px;
    height:50px;
    border-radius:7px;
    border:none;
    left:215px;
    bottom:210px;
    color:white;
}
.textsearch{
    margin-left: 50px;
    padding-left:35px;
    width:53%;
    height:48px;
    font-size:20px;
    border-color:rgba(129, 123, 123, 0.5) ;
    border-radius: 24px 0px 0px 24px;
    
}
.search{
    width: 110px;
    height:52px;
    background:black;
    font-size:15px;
    color:white; 
    border-radius:0px 24px 24px 0px;
    border:none;
    margin-right: 15px;
}
h2{
    font-size: 45px;
    text-align: center;
    font-family:arial;
}
h2 .why{
    color:green;
}
.somep{
    margin-left:  40px;
    margin-right: 40px;
    text-align: center;
}
.marmin{
    width:100%;
    height:550px;
    
}
.diva{
    width:270px;
    height: 500px;
    background: rgb(74, 187, 74);
    display: inline-block;
    margin-left: 38px;
    border: 4px solid rgba(245, 246, 247, 0.5);
    border-radius: 40px;
    box-shadow: 0 0 30px rgb(26, 49, 26);
   
}
.divb{
    position: relative;
    width:270px;
    height:500px;
    background:whitesmoke;
    display: inline-block;
    margin-left: 38px;
    border: 4px solid rgba(31, 33, 34, 0.5);
    border-radius: 40px;
    box-shadow: 0 0 20px black;
}

.divc{
    width:270px;
    height:500px;
    background: whitesmoke;
    display: inline-block;
    margin-left: 38px;
    border: 4px solid rgba(31, 33, 34, 0.5);
    border-radius: 40px;
    box-shadow: 0 0 20px black;
}
.power{
   margin-left:130px;
   margin-top: 50px;;
   position: absolute;
}
h3 {
    position: absolute;
    left:80px;
    display: inline-block;
    font-size: 25px;
    padding-top: 170px;
    color: whitesmoke;
    
}
h4{
    position: absolute;
    width: 260px;
    text-align: center;
    padding-top:215px ;
    left: 50px;
    color:whitesmoke;
    font-size: 20px;
}
.optim{  
    position: absolute;
    margin-top:50px;
    margin-left:90px;
    
}
.total{
    position: absolute;
    margin-top: 180px;
    font-size: 27px;
    margin-left: 35px;
    color: rgb(0, 0, 0);
}
.making{
    position: absolute;
    width: 250px;
    margin-top: 220px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    
}
.head{
    position: absolute;
    margin-top:50px;
    margin-left:90px;
}
.support{
    position: absolute;
    margin-top: 180px;
    font-size: 27px;
    margin-left: 35px;
    color: rgb(0, 0, 0);
}
.makin{
    position: absolute;
    width: 250px;
    margin-top: 220px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    
}